body{
    background-color: #000000;
    text-align: center;
}

h1{
    color: #ffffff;
}

.balls{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px ;
    width:100px;
    border-radius: 50%;
    margin: 10px auto;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
 
}

.ball{ 
    background-color: palevioletred;
}

.ball2{
    background-color: rgb(222, 29, 213);
}
.ball3{
    background-color: #ffffff;
}

.ball4{
    background-color: bisque;
}