body{
    background-color: #000000;
    text-align: center;
}

h1{
    color: #ffffff;
}

.ball{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px ;
    width:100px;
    border-radius: 50%;
    background-color: palevioletred;
    margin: 10px auto;
    font-size: 22px;
    font-weight: bold;

}
